BasedOnStyle: LLVM
ColumnLimit: 170

AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true

AllowShortIfStatementsOnASingleLine: Always
AllowShortBlocksOnASingleLine: Always
